#content {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 5fr;
    background-image: url('../images/wood-flag.jpg');
    background-position: center;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: center;
}

.sidebar.left-sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.sidebar.right-sidebar {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}